#containerlogin {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../../assets/fundo_cadastro.jpg");
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

#blocklogin {
  background-color: #fff;
  border-radius: 10px;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
  position: relative;
}

.divinput {
  width: 100%;
  height: fit-content;
  position: relative;
  margin: 2vh 0;
  background-color: #f3f3f3;
  padding: 4px;
  border-radius: 4px;
}

.spaninput {
  position: absolute;
  left: 3%;
  color: #888;
  z-index: 1;
  font-size: small;
}

.input {
  border: none;
  outline: none;
  z-index: 5;
  background-color: transparent;
}

.input:focus ~ .spaninput {
  top: -15px !important;
  transition: 0.4s !important;
  color: #2b1c0f !important;
  font-size: x-small !important;
}

.underline {
  height: 2px;
  display: block;
}

.underlinelink {
  height: 1px;
  display: block;
  margin: auto;
}

.input:focus ~ .underline {
  background-color: #2b1c0f;
  animation: fill 0.4s ease-out;
}

#containerbotoes > button {
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 1rem;
}

.entrar {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 0.5em 3vw;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  background-color: #2b1c0f;
}

.entrar:hover {
  opacity: 0.9;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.4);
}

.entrar:active {
  transform: translateY(2px);
  opacity: 0.7;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

label:hover {
  cursor: text;
}

.eye {
  opacity: 0;
}

.input:focus ~ .eye {
  opacity: 1;
}

.esqueceu {
  font-size: small;
  color: #2b1c0f;
  text-align: center;
  display: inline-block;
  position: relative;
}

.esqueceu:first-child::after {
  width: 70%;
  left: 15%;
}

.esqueceu:last-child::after {
  width: 100%;
  left: 0;
}

.esqueceu::after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  background-color: #2b1c0f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.esqueceu:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
