#containerheader {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  background-color: #fff;
  z-index: 999;
}
#containerheader > img {
  height: 100%;
}
#containerpesquisa {
  width: fit-content;
  height: fit-content;
  position: relative;
}
#containerpesquisa > input {
  outline: none;
  border: none;
  caret-color: #2b1c0f;
  font-size: 1rem;
}
#containerbotoes {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 2vw;
}
#containerbotoes > button {
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 1rem;
}
#containerbotoes button:nth-child(1),
#containerbotoes button:nth-child(2):hover {
  color: #2b1c0f;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#containerbotoes button:nth-child(1):hover,
#containerbotoes button:nth-child(2) {
  color: #fff;
  background-color: #2b1c0f;
}
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 0 1rem;
}
.input-search {
  width: 12vw;
  border-style: none;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  padding-right: 1vw;
  color: #2b1c0f;
  outline: none;
  border: none;
  caret-color: #2b1c0f;
  font-size: 1rem;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
#back {
  width: 100%;
  height: 15vh;
}
